<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles and script  -->
	<script src="script.js"></script>
	<link rel="stylesheet" href="master.css" />
	
<title th:text="${pageTitle}">index</title>
</head>

<body>
<nav class="navbar navbar-expand-sm  navbar-dark ">
  <ul class="navbar-nav">
  <!-- Links to pages -->
    <li class="nav-item active">
      <a id="navMaster" class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/completed">Completed</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/todo">ToDo</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/alltasks">All Tasks</a>
    </li>
  </ul>
</nav>
<div class="jumbotron text-center">

<h1></h1>
<h2 th:text="${taskpgDescription}"></h2>
<br />

</div>

<div class="container" align="center">


    <!-- Login Form -->
    <form>
      <P>Username</P>
      <input type="text" id="username" name="username">
      <P></P>
      <P>Password</P>
      <input type="password" id="password"  name="password">
      <P></P>
      <input type="submit" id="login" onclick="loginEvent()" value="Log In">
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover"  href="#" onclick="placeholder()">Forgot Password?</a>
    </div>
</div> 
</body>

</html>